tokenFile
nohup.out
package-lock.json


node_modules/
npm-debug.log.*
.sass-cache/
.project
.metadata
tmp/
tmp/**/*
local.properties
.classpath
.settings/
.loadpath
.factorypath
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/
.vscode/

.gradle/
/build/
caches
daemon
native
wrapper


Thumbs.db
Desktop.ini
.DS_Store
.svn



