version: '2'
services:
  daas-mysql:
    image: mysql:5.7
    volumes:
      - ~/daas-data/mysql/:/var/lib/mysql/
    environment:
      - MYSQL_USER=root
      - MYSQL_ROOT_PASSWORD=0254891276
      #- MYSQL_DATABASE=${schema}
    ports:
      - 3306:3306
    command: mysqld --lower_case_table_names=1 --skip-ssl --character_set_server=utf8mb4 --explicit_defaults_for_timestamp

